body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
	max-width: 1025px;
	margin: 0 auto;
	padding: 0px 15px;
}

.fields {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
}

.field {
  border: 1px solid red;
  width: 150px;
  height: 150px;
  position: relative;
}

.field div {
  width: 100%;
  height: 100%;
}

.cross {
}

.cross::after {
  width: 150px;
  height: 10px;
  background-color: green;
  content: '';
  position: absolute;
  top: 65px;
  right: 0px;
  transform: rotate(45deg);
  border-radius: 50px;
}

.cross::before {
  width: 150px;
  height: 10px;
  background-color: green;
  content: '';
  position: absolute;
  top: 65px;
  right: 0px;
  transform: rotate(-45deg);
  border-radius: 50px;
}

.zero {
}

.zero::after {
  width: 100px;
  height: 100px;
  border: 15px solid grey;
  border-radius: 500px;
  content: '';
  position: absolute;
  top: 10px;
  right: 10px;
}

.turn {
  font-size: 23px;
}

.crossText {
  font-size: 23px;
  color: green;
  font-weight: 600;
}

.zeroText {
  font-size: 23px;
  color: grey;
  font-weight: 600;
}